
<div class='container'>

<table class="custom-table">
    <thead>
      <tr>
        <th (click)="sortData('name')" class="sortColumn">Name</th>
        <th (click)="sortData('guessingScore')"class="sortColumn">Guessing Score</th>
        <th (click)="sortData('creationScore')" class="sortColumn">Creating Score</th>
        <th (click)="sortData('totalWins')" class="sortColumn">Number of Wins</th>
        <th (click)="sortData('totalGames')" class="sortColumn">Games Played</th>
        <th (click)="sortData('winRatio')" class="sortColumn">Win Ratio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let singleUser of allUsers">
        <td>
            {{singleUser.name}}
        </td>
        <td>
            {{singleUser.guessingScore}}
        </td>
        <td>
            {{singleUser.creationScore}}
        </td>
        <td>
            {{singleUser.totalWins}}
        </td>
        <td>
            {{singleUser.totalGames}}
        </td>
        <td>
            {{ winRatioCalculator(singleUser.totalWins, singleUser.totalGames)}}
        </td>

      </tr>
    </tbody>
  </table>
</div>
  

