<div  class='container'>

<table class="custom-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Guessing Score</th>
        <th>Creating Score</th>
        <th>Number of Wins</th>
        <th>Games Played</th>
        <th>Win Ratio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let singleUser of allUsers">
        <td>
            {{singleUser.name}}
        </td>
        <td>
            {{singleUser.guessingScore}}
        </td>
        <td>
            {{singleUser.creationScore}}
        </td>
        <td>
            {{singleUser.totalWins}}
        </td>
        <td>
            {{singleUser.totalGames}}
        </td>
        <td>
            {{ winRatioCalculator(singleUser.totalWins, singleUser.totalGames)}}
        </td>

      </tr>
    </tbody>
  </table>
</div>
  

