.flex-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    margin: 0 auto;
}

h2
{
    text-align: center;
    padding: 50px;
    margin: 5px;
    min-width: 250px;
}

.bomb{
    background-color: #b2b7be;
}

.incorrect{
    background-color: #f23f43;
}

.correct{
    background-color: #23a559;
}