/* label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://i.pinimg.com/originals/fd/77/d1/fd77d12ff2412d1e9523e416c8406bb9.jpg');
  background-size: cover;
  margin: 0;
}


.welcomeText {
  margin-bottom: 200px;
  font-size: 75px;

}



.agentLeft,
.agentRight {
  position: absolute;
  top: 35%;
  height: 300px;
  width: auto;

}

.agentLeft {
  left: 50%;
  transform: translateX(-50%);
  animation: agentLeftAnimation 1s ease-in-out forwards;
}

.agentRight {
  right: 50%;
  transform: translateX(50%);
  animation: agentRightAnimation 1s ease-in-out forwards;
}

@keyframes agentLeftAnimation {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(-200%); /* Adjust this value based on your layout */
  }
}

@keyframes agentRightAnimation {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(200%); /* Adjust this value based on your layout */
  }
}

.box {
  position: relative;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow:hidden;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-100px);
  
}
.box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, transparent, skyblue,skyblue,skyblue);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, transparent, skyblue,skyblue, skyblue);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box form {
  position: absolute;
  inset: 4px 4px 4px 4px; 
  background: #222;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  width: calc(100% - 8px);
  
}

.box form h1 {
  color: #fff;
  text-align: center;
}


#google-button {
  align-items: center;
  justify-content: center;
  margin: auto;
}
.google-button {
  border-radius: 25px;

}

#loginstatus, #tutorialLink {
  align-items: center;
  justify-content: center;
  margin: auto;
}

#logoutButton {
  color: black;
  align-items: center;
  justify-content: center;
  margin: right;
  height: 25px;
  width: 100px;
}




