/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
  
body 
{
  font-family: 'Poppins', sans-serif;
  background-color: #444A53;
}

h2
{
    text-align: center;
    border: 1px solid transparent;
    padding: 50px;
    margin: 5px;
    min-width: 250px;
    transition: border-color 0.3s, transform 0.3s, color 0.5s;
}

h2:hover {
    transform: scale(1.1);
    border-color: white;
    color: #7289da;
    cursor: pointer;
}