<div class="flex-container">
  <!-- Display the clue -->
  <p>Clue: {{ clue }} &nbsp; Incorrect Guesses Remaining: {{ numberOfIncorrectGuessesRemaining }} &nbsp; Correct Guesses Remaining: {{ numberOfCorrectGuessesRemaining }}</p>
  <div class="grid">
    <h2
      *ngFor="let word of words"
      (click)="checkWord(word)"
      [ngClass]="word.selected ? word.answerClass : ''"
      
    >
      {{ word.name }}
    </h2>
  </div>
</div>

<div *ngIf="isCorrect === true" class="correctorincorrect">Correct!</div>
<div *ngIf="isCorrect === false" class="correctorincorrect">Incorrect. Try again.</div>


<!-- [ngClass]="word.answerClass-->